# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
.env
.env.*

# Tooling & IDE
.idea/
.vscode/
.DS_Store

# Test / coverage artifacts
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage

# Logs
*.log

# scripts
*.sh

# Database Architecture
*.sql
db/volumes/