apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: dash
  labels:
    app: mysql
spec:
  type: ClusterIP
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
    name: mysql
  selector:
    app: mysql
  clusterIP: None  # Headless Service (StatefulSet과 함께 사용)

